@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, "Inter";
  width: 100vw;
  height: 90%;
  justify-content: center;
  align-content: center;
  body {
  background: linear-gradient(to bottom right, #111827, #1f2937);
  /* Tailwind equivalent: bg-gradient-to-br from-gray-900 to-gray-800 */
  color: #e5e7eb;
}
}
